<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <p class="navbar-text">Portfolio di Marcello Cardea</p>
        <ul class="nav navbar-nav">
        <li class="active"><a ng-href="/#/">Home</a></li>
        <li><a ng-href="/#/about.html">About</a></li>

      </ul>
    </div>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="jumbotron">
  <h1>Benvenuti!</h1>
  <p class="lead">
    <img src="images/work_in_progress.png" alt="work in progress" style="width:200px;"><br>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Online!</a></p>
</div>

<div class="row marketing">

</div>

<div class="footer">
  <p>Marcello Cardea</p>
</div>
